
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.hero-oJ1 {
  background-color: #ffffff;
  width: 100%;
  height: 959.5rem;
  position: relative;
  overflow: hidden;

  .heroo-oSR {
    height: 98.2rem;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: #742d2d;
    border-radius: 0.6rem;
    width: 151.2rem;
  }
  .vector-2-3rZ {
    position: absolute;
    left: 0;
    top: 240rem;
    object-fit: contain;
    vertical-align: top;
    width: 151.4rem;
    height: 182.3rem;
  }
  .wallpapper-kky {
    width: 151.4rem;
    height: 861.3rem;
    position: absolute;
    left: 0;
    top: 98.2rem;

    .whatsapp-image-2023-11-06-at-2123-3-T37 {
      position: absolute;
      left: 0;
      top: 639.4063rem;
      object-fit: cover;
      vertical-align: top;
      width: 151.2rem;
      height: 221.8938rem;
    }
    .whatsapp-image-2023-11-06-at-2123-1-M8V {
      object-fit: cover;
      vertical-align: top;
      width: 151.2rem;
      height: 208.825rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .whatsapp-image-2023-11-06-at-2123-1-5qB {
      vertical-align: top;
      width: 151.2rem;
      height: 221.8938rem;
      position: absolute;
      left: 0;
      top: 417.3749rem;
      object-fit: cover;
    }
    .whatsapp-image-2023-11-06-at-2123-2-R8M {
      width: 151.2rem;
      height: 208.825rem;
      position: absolute;
      left: 0;
      top: 208.825rem;
      object-fit: cover;
      vertical-align: top;
    }
    .interior-wMb {
      position: absolute;
      left: 10rem;
      top: 771.8rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      width: 135.9rem;
      height: 64.5rem;

      .penggunaan-batik-sebagai-pelengkap-interior-eWu {
        font-weight: 400;
        line-height: 1.3325;
        color: #2c3333;
        font-family: Playfair Display, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 0.3rem;
        max-width: 65.7rem;
        font-size: 5.5rem;
      }
      .auto-group-ufkf-Kd3 {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin-right: 5.7rem;
        width: calc(100% - 5.7rem);

        .swipper-rN5 {
          margin: 0rem 7.5rem 14.8rem 0rem;
          display: flex;
          column-gap: 3.5rem;
          align-items: center;
          flex-shrink: 0;

          .ellipse-8-mV3 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 14.2rem;
            height: 19.5rem;
          }
          .ellipse-7-UuF {
            height: 34.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 27.3rem;
          }
          .ellipse-9-cEm {
            width: 14.2rem;
            height: 19.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .penggunaan-batik-sebagai-pelengkap-interior-adalah-penggunaan-motif-dan-produk-batik-dalam-desain-dan-dekorasi-interior-rumah-atau-ruang-komersial-termasuk-penggunaan-kain-batik-pada-furnitur-hiasan-dinding-gorden-dan-aksesori-lainnya-untuk-menciptakan-atmosfer-artistik-dan-budaya-Yu7 {
          color: #2c3333;
          font-family: Plus Jakarta Sans, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 60rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.71875;
        }
      }
    }
    .fashion-XW9 {
      width: 128.1rem;
      height: 76.8rem;
      position: absolute;
      left: 13.5rem;
      top: 664.1rem;

      .penggunaan-batik-sebagai-fashion-f6Z {
        color: #2c3333;
        font-family: Playfair Display, 'Source Sans Pro';
        margin-bottom: 1.6rem;
        max-width: 44.4rem;
        font-size: 5.5rem;
        font-weight: 400;
        line-height: 1.3325;
      }
      .auto-group-xrcm-mfP {
        width: 100%;
        height: 60.5rem;
        display: flex;
        align-items: center;

        .penggunaan-batik-sebagai-fashion-adalah-penggunaan-motif-dan-teknik-batik-dalam-desain-dan-produksi-pakaian-serta-aksesori-mode-untuk-menciptakan-gaya-pribadi-dan-tren-fashion-penggunaan-batik-sebagai-fashion-menggabungkan-unsur-seni-kreativitas-dan-gaya-pribadi-dengan-nilai-nilai-budaya-yang-terkandung-dalam-batik-menciptakan-produk-mode-yang-unik-dan-beragam-JvD {
          max-width: 55rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.71875;
          color: #2c3333;
          font-family: Plus Jakarta Sans, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 10.4rem;
        }
        .swipper-tdX {
          margin: 8.7rem 0rem 17.1rem 0rem;
          height: calc(100% - 25.8rem);
          display: flex;
          column-gap: 3.5rem;
          align-items: center;
          flex-shrink: 0;

          .ellipse-8-bXw {
            width: 14.2rem;
            height: 19.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .ellipse-7-9JZ {
            height: 34.7rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 27.3rem;
          }
          .ellipse-9-VtD {
            width: 14.2rem;
            height: 19.5rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
    .artefak-SoT {
      width: 128.2rem;
      height: 53.6rem;
      position: absolute;
      left: 10.4rem;
      top: 590.8rem;
      display: flex;
      align-items: center;

      .swipper-aem {
        height: calc(100% - 18.9rem);
        display: flex;
        column-gap: 3.5rem;
        align-items: center;
        flex-shrink: 0;
        margin: 7.3rem 13.1rem 11.6rem 0rem;

        .ellipse-8-67K {
          width: 14.2rem;
          height: 19.5rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .ellipse-7-EDX {
          vertical-align: top;
          flex-shrink: 0;
          width: 27.3rem;
          height: 34.7rem;
          object-fit: contain;
        }
        .ellipse-9-N4q {
          vertical-align: top;
          flex-shrink: 0;
          width: 14.2rem;
          height: 19.5rem;
          object-fit: contain;
        }
      }
      .auto-group-zcxj-Jz5 {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .penggunaan-batik-sebagai-artefak-fZj {
          color: #2c3333;
          font-family: Playfair Display, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 0.4rem;
          max-width: 44.4rem;
          font-size: 5.5rem;
          font-weight: 400;
          line-height: 1.3325;
        }
        .penggunaan-batik-sebagai-artefak-berarti-melihat-batik-sebagai-objek-fisik-atau-barang-yang-memiliki-nilai-budaya-seni-atau-sejarah-yang-dapat-dipelajari-atau-dipamerkan-dan-mewakili-identitas-budaya-indonesia-nPT {
          max-width: 52.1rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.71875;
          color: #2c3333;
          font-family: Plus Jakarta Sans, 'Source Sans Pro';
          flex-shrink: 0;
          margin-left: 0.3rem;
        }
      }
    }
    .penggunaan-batik-pb3 {
      left: 34.75rem;
      text-align: center;
      font-weight: 500;
      line-height: 1.3325;
      font-style: italic;
      color: #2c3333;
      font-family: Playfair Display, 'Source Sans Pro';
      height: 13.4rem;
      white-space: nowrap;
      position: absolute;
      top: 566.9rem;
      font-size: 10rem;
      width: 81.7rem;
    }
    .ragam-h93 {
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 133.3rem;
      height: 93.3rem;
      position: absolute;
      left: 9rem;
      top: 450.6rem;

      .ragam-motif-batik-cmo {
        color: #2c3333;
        font-family: Playfair Display, 'Source Sans Pro';
        margin: 0rem 0.1rem 9.9rem 0rem;
        text-align: center;
        line-height: 1.3325;
        font-style: italic;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 10rem;
        font-weight: 500;
      }
      .auto-group-rpwo-ipq {
        display: flex;
        column-gap: 6rem;
        align-items: center;
        flex-shrink: 0;
        width: 100%;

        .rectangle-6-4th {
          flex-shrink: 0;
          width: 45rem;
          height: 42.1rem;
          background-color: #d9d9d9;
        }
        .rectangle-7-L5X {
          width: 45rem;
          height: 42.1rem;
          background-color: #d9d9d9;
          flex-shrink: 0;
        }
        .rectangle-8-gQH {
          width: 31.3rem;
          height: 42.1rem;
          background-color: #d9d9d9;
          flex-shrink: 0;
        }
      }
      .auto-group-h4rf-Rsf {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.9rem 0rem 0rem 8.9rem;
        width: 100%;

        .auto-group-awwd-kuw {
          margin: 0rem 5.7rem 6.9rem 0rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .motif-batik-asal-haH {
            margin-right: 34.9rem;
            max-width: 19.8rem;
            font-family: Playfair Display, 'Source Sans Pro';
            flex-shrink: 0;
            text-align: center;
            font-size: 4rem;
            font-weight: 400;
            line-height: 1.25;
            color: #2c3333;
          }
          .motif-batik-asal-Xxd {
            color: #2c3333;
            flex-shrink: 0;
            max-width: 19.8rem;
            text-align: center;
            font-size: 4rem;
            line-height: 1.25;
            margin-right: 24.4rem;
            font-weight: 400;
            font-family: Playfair Display, 'Source Sans Pro';
          }
          .motif-batik-asal-fow {
            font-weight: 400;
            line-height: 1.25;
            color: #2c3333;
            font-family: Playfair Display, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 19.8rem;
            text-align: center;
            font-size: 4rem;
          }
        }
        .auto-group-zq37-ov9 {
          flex-shrink: 0;
          margin-left: 103.3rem;
          width: calc(100% - 103.3rem);
          height: 8.1rem;
          display: flex;
          align-items: center;

          .auto-group-jmht-9DK {
            text-align: center;
            display: flex;
            align-items: center;
            background-size: cover;
            flex-shrink: 0;
            font-weight: 400;
            font-family: Playfair Display, 'Source Sans Pro';
            background-repeat: no-repeat;
            background-position: center;
            width: 8.3rem;
            font-size: 4rem;
            color: #000000;
            background-image: url('REPLACE_IMAGE:80:45');
            justify-content: center;
            margin-right: 4.5rem;
            height: 100%;
            line-height: 1.25;
            white-space: nowrap;
          }
          .auto-group-ejeh-br1 {
            height: 100%;
            text-align: center;
            color: #000000;
            font-family: Playfair Display, 'Source Sans Pro';
            background-size: cover;
            background-position: center;
            background-image: url('REPLACE_IMAGE:80:46');
            width: 8.3rem;
            line-height: 1.25;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            font-size: 4rem;
            font-weight: 400;
            justify-content: center;
            background-repeat: no-repeat;
            white-space: nowrap;
          }
        }
      }
    }
    .teknik-Uuo {
      border-radius: 4.4rem;
      width: 133.3rem;
      height: 98.5rem;
      left: 9rem;
      top: 331.8rem;
      display: flex;
      position: absolute;
      align-items: center;
      flex-direction: column;

      .teknik-pembuatan-batik-R4M {
        flex-shrink: 0;
        margin: 0rem 0.1rem 6.6rem 0rem;
        font-weight: 500;
        line-height: 1.3325;
        color: #2c3333;
        font-family: Playfair Display, 'Source Sans Pro';
        white-space: nowrap;
        text-align: center;
        font-size: 10rem;
        font-style: italic;
      }
      .auto-group-rmzb-KfX {
        width: 100%;
        height: 78.5rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .auto-group-ouko-H6Z {
          height: 100%;
          background-color: #e7b385;
          border-radius: 4.4rem;
          flex-shrink: 0;
          margin-right: 3.9rem;
          box-sizing: border-box;
          padding: 5rem 3.8rem 5rem 3.7rem;
          width: 64.7rem;

          .card-teknik-bsw {
            width: 100%;
            height: 57.8rem;
            background-color: #141111;
            border-radius: 4.4rem;
          }
        }
        .auto-group-34yp-75b {
          background-color: #e7b385;
          border-radius: 4.4rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 5rem 3.8rem 5rem 3.7rem;
          width: 64.7rem;
          height: 100%;

          .card-teknik-2TT {
            border-radius: 4.4rem;
            width: 100%;
            height: 57.8rem;
            background-color: #141111;
          }
        }
      }
    }
    .filosofis-LU9 {
      position: absolute;
      left: 7.8rem;
      top: 244.9rem;
      display: flex;
      align-items: flex-start;
      width: 135.4rem;
      height: 59.1rem;

      .auto-group-gy7s-fmK {
        margin: 1.9rem 6.5rem 0rem 0rem;
        width: 89.6rem;
        height: 57.2rem;
        position: relative;
        flex-shrink: 0;

        .filosofis-batik-indonesia-mencakup-gagasan-gagasan-tentang-harmoni-dengan-alam-pesan-moral-keseimbangan-penghargaan-terhadap-warisan-budaya-dan-kreativitas-batik-mencerminkan-kebijaksanaan-kesederhanaan-dan-nilai-nilai-budaya-yang-diwariskan-dari-generasi-ke-generasi-menjadikannya-sarana-penting-untuk-menyampaikan-pesan-filosofis-dan-nilai-nilai-budaya-masyarakat-indonesia-o6q {
          color: #2c3333;
          width: 88rem;
          height: 44rem;
          position: absolute;
          left: 1.6rem;
          font-family: Plus Jakarta Sans, 'Source Sans Pro';
          top: 13.2rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.71875;
        }
        .filosofis-batik-Lky {
          font-weight: 500;
          line-height: 1.3325;
          font-style: italic;
          white-space: nowrap;
          height: 13.4rem;
          left: 0;
          text-align: right;
          font-size: 10rem;
          font-family: Playfair Display, 'Source Sans Pro';
          width: 64.2rem;
          position: absolute;
          top: 0;
          color: #2c3333;
        }
      }
      .rectangle-4-SJD {
        flex-shrink: 0;
        width: 39.3rem;
        height: 56.9rem;
        background-color: #e9b384;
        border-radius: 19.65rem 0 19.65rem 0;
      }
    }
    .makna-MRB {
      height: 56.9rem;
      position: absolute;
      left: 9.4rem;
      top: 169.9rem;
      display: flex;
      align-items: flex-start;
      width: 128.7rem;

      .rectangle-4-tR7 {
        flex-shrink: 0;
        margin-right: 6.5rem;
        width: 39.3rem;
        height: 56.9rem;
        background-color: #e9b384;
        border-radius: 19.65rem 0 19.65rem 0;
      }
      .auto-group-dftp-zyw {
        position: relative;
        flex-shrink: 0;
        width: 82.9rem;
        height: 51.8rem;

        .batik-indonesia-adalah-simbol-kompleks-yang-mencerminkan-identitas-budaya-sejarah-dan-filosofi-masyarakat-ini-menggambarkan-nilai-nilai-budaya-simbolisme-keagamaan-dan-pesan-moral-memainkan-peran-penting-dalam-mempertahankan-warisan-budaya-indonesia-sambil-terus-berkembang-dengan-kreativitas-dan-berfungsi-sebagai-simbol-identitas-nasional-wuB {
          line-height: 1.71875;
          color: #2c3333;
          position: absolute;
          left: 0;
          top: 13.3rem;
          font-weight: 400;
          width: 82.9rem;
          height: 38.5rem;
          font-size: 3.2rem;
          font-family: Plus Jakarta Sans, 'Source Sans Pro';
        }
        .makna-batik-uzR {
          font-size: 10rem;
          font-weight: 500;
          line-height: 1.3325;
          font-style: italic;
          color: #2c3333;
          font-family: Playfair Display, 'Source Sans Pro';
          width: 56.7rem;
          height: 13.4rem;
          position: absolute;
          left: 0;
          top: 0;
          white-space: nowrap;
        }
      }
    }
  }
  .ini-apa-RSy {
    left: 72.7538rem;
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 117.2923rem;
    height: 108.7rem;
    position: absolute;
  }
  .ini-apa-ZZB {
    height: 88.4484rem;
    position: absolute;
    left: 106.5rem;
    top: 171.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 89.3986rem;
  }
  .ini-apa-hfP {
    height: 88.5342rem;
    position: absolute;
    left: 0;
    top: 101rem;
    object-fit: contain;
    vertical-align: top;
    width: 89.4834rem;
  }
  .sejarah-e4q {
    left: 11.3rem;
    top: 185rem;
    display: flex;
    align-items: center;
    width: 131.9rem;
    height: 56.9rem;
    position: absolute;

    .auto-group-b5n1-NmX {
      margin: 6rem 4.2rem 8.4rem 0rem;
      width: 88.4rem;
      height: calc(100% - 14.4rem);
      flex-shrink: 0;

      .auto-group-nddk-hYu {
        margin-bottom: 2.3rem;
        width: 100%;
        height: 35.3rem;
        position: relative;

        .sejarah-batik-indonesia-yang-kaya-dan-berakar-dalam-budaya-indonesia-dimulai-pada-zaman-hindu-buddha-abad-ke-4-hingga-abad-ke-15-m-dan-berkembang-selama-zaman-majapahit-hingga-zaman-islam-3cm {
          height: 22rem;
          left: 0.1rem;
          top: 13.3rem;
          font-size: 3.2rem;
          font-weight: 400;
          line-height: 1.71875;
          color: #2c3333;
          width: 88.3rem;
          font-family: Plus Jakarta Sans, 'Source Sans Pro';
          position: absolute;
        }
        .sejarah-batik-fe9 {
          top: 0;
          font-size: 10rem;
          font-weight: 500;
          font-style: italic;
          white-space: nowrap;
          width: 60rem;
          height: 13.4rem;
          text-align: center;
          line-height: 1.3325;
          color: #2c3333;
          font-family: Playfair Display, 'Source Sans Pro';
          position: absolute;
          left: 0;
        }
      }
      .auto-group-tayz-ZzR {
        margin: 0rem 67.4rem 0rem 0.1rem;
        width: calc(100% - 67.5rem);
        display: flex;
        align-items: center;

        .read-more-JSD {
          flex-shrink: 0;
          margin-right: 1.2rem;
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.515625;
          color: #429c88;
          font-family: Raleway, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-vvgq-EKs {
          margin-bottom: 0.1rem;
          width: 3.2rem;
          height: 3.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .rectangle-4-NBB {
      width: 39.3rem;
      height: 56.9rem;
      background-color: #e9b384;
      border-radius: 16.25rem 0 16.25rem 0;
      flex-shrink: 0;
    }
  }
  .definisi-hUM {
    height: 61.9rem;
    position: absolute;
    left: 9.5rem;
    top: 115rem;
    display: flex;
    align-items: flex-end;
    width: 135rem;

    .rectangle-3-2mX {
      border-radius: 16.25rem 0 16.25rem 0;
      flex-shrink: 0;
      margin-right: 8.85rem;
      width: 39.3rem;
      height: 56.9rem;
      background-color: #e9b384;
    }
    .auto-group-y7cd-jvq {
      margin-bottom: 1.5rem;
      width: 86.85rem;
      height: 60.4rem;
      position: relative;
      flex-shrink: 0;

      .seni-tekstil-tradisional-indonesia-yang-khas-di-mana-kain-biasanya-katun-atau-sutra-dihias-dengan-pola-pola-dan-gambar-gambar-yang-dihasilkan-dengan-mengaplikasikan-malam-lilin-pada-kain-sehingga-menghalangi-pewarnaan-pada-area-yang-diinginkan-ini-adalah-seni-yang-sangat-terkenal-dan-diakui-secara-internasional-dan-merupakan-bagian-penting-dari-budaya-indonesia-g5P {
        line-height: 1.71875;
        font-family: Plus Jakarta Sans, 'Source Sans Pro';
        font-weight: 400;
        height: 44rem;
        position: absolute;
        left: 0.15rem;
        top: 16.4rem;
        font-size: 3.2rem;
        letter-spacing: 0.032rem;
        color: #2c3333;
        width: 86.7rem;
      }
      .atik-pL1 {
        line-height: 1.3325;
        white-space: nowrap;
        left: 12.2rem;
        top: 10.2rem;
        text-align: center;
        font-size: 9.5rem;
        font-weight: 400;
        width: 16.2rem;
        height: 12.7rem;
        position: absolute;
        color: #2c3333;
        font-family: Playfair Display, 'Source Sans Pro';
      }
      .b-usF {
        width: 12.2rem;
        text-align: center;
        color: #2c3333;
        white-space: nowrap;
        line-height: 1.3325;
        font-family: Playfair Display, 'Source Sans Pro';
        height: 26rem;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 19.5rem;
        font-weight: 400;
      }
    }
  }
  .rectangle-4-EPj {
    width: 29.2rem;
    height: 53.4rem;
    position: absolute;
    left: 15rem;
    top: 16.6rem;
    background-color: #d9d9d9;
    border-radius: 15rem;
  }
  .rectangle-5-9mb {
    width: 29.2rem;
    height: 53.4rem;
    position: absolute;
    left: 107rem;
    top: 39.4rem;
    background-color: #e9b384;
    border-radius: 15rem;
  }
  .empower-indonesia-culture-everywhere-sSh {
    left: 17.85rem;
    top: 25rem;
    font-size: 12.8rem;
    line-height: 1.125;
    font-family: Playfair Display, 'Source Sans Pro';
    width: 115.5rem;
    height: 28.8rem;
    position: absolute;
    text-align: center;
    font-weight: 400;
    color: #2c3333;

    .empower-indonesia-culture-everywhere-sSh-sub-0 {
      color: #2c3333;
      font-family: Imprima, 'Source Sans Pro';
      font-size: 12.8rem;
      font-weight: 400;
      line-height: 1.125;
    }
    .empower-indonesia-culture-everywhere-sSh-sub-1 {
      font-size: 12.8rem;
      font-weight: 500;
      line-height: 1.125;
      color: #2c3333;
      font-family: Playfair Display, 'Source Sans Pro';
    }
    .empower-indonesia-culture-everywhere-sSh-sub-2 {
      font-family: Playfair Display, 'Source Sans Pro';
      font-size: 12.8rem;
      font-weight: 500;
      line-height: 1.125;
      font-style: italic;
      color: #2c3333;
    }
    .empower-indonesia-culture-everywhere-sSh-sub-3 {
    }
  }
  .text-hero-mM3 {
    width: 82.1rem;
    position: absolute;
    top: 58.8rem;
    line-height: 1.5;
    font-family: Poppins, 'Source Sans Pro';
    height: 13.1rem;
    left: 34.55rem;
    text-align: center;
    font-size: 2.9rem;
    font-weight: 400;
    color: #2c3333;
  }
  .button-hero-2Gy {
    border-radius: 4.8rem;
    width: 35.3rem;
    height: 7.4rem;
    position: absolute;
    left: 58rem;
    top: 77.6rem;
    background-color: #f9b572;
  }
  .start-the-journey-K1B {
    height: 3.1rem;
    left: 61.05rem;
    top: 79.8rem;
    text-align: center;
    font-size: 2.6rem;
    font-weight: 700;
    font-family: Raleway, 'Source Sans Pro';
    white-space: nowrap;
    width: 29.1rem;
    position: absolute;
    line-height: 1.175;
    color: #000000;
  }
  .navbar-1Po {
    box-sizing: border-box;
    padding: 2.2rem 6.75rem 1.6rem 7.9rem;
    width: 92rem;
    height: 6.7rem;
    position: absolute;
    top: 7.3rem;
    background-color: #f9b572;
    border-radius: 4.8rem;
    left: 29.6rem;
    display: flex;
    align-items: center;

    .teknik-pembuatan-h1j {
      font-family: Raleway, 'Source Sans Pro';
      white-space: nowrap;
      margin-right: 10.2rem;
      text-align: center;
      font-weight: 700;
      color: #ffffff;
      font-size: 2.4rem;
      line-height: 1.175;
      flex-shrink: 0;
    }
    .ragam-motif-CjB {
      font-size: 2.4rem;
      line-height: 1.175;
      color: #ffffff;
      white-space: nowrap;
      margin-right: 10.25rem;
      text-align: center;
      font-weight: 700;
      font-family: Raleway, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .penggunaan-batik-jUD {
      line-height: 1.175;
      color: #ffffff;
      font-family: Raleway, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 2.4rem;
      font-weight: 700;
    }
  }
  .logo-FSZ {
    top: 7rem;
    border-radius: 4.8rem;
    width: 27.1rem;
    height: 8rem;
    position: absolute;
    left: 0;

    .logo-Pof {
      position: absolute;
      left: 4.5rem;
      top: 0;
      background-color: #d0e4f0;
      border-radius: 4.8rem;
      width: 9.4rem;
      height: 8rem;
    }
    .logo-KxD {
      left: 6.2rem;
      top: 2.1rem;
      text-align: center;
      white-space: nowrap;
      color: #2c3333;
      font-family: Raleway, 'Source Sans Pro';
      width: 6.3rem;
      height: 3.5rem;
      position: absolute;
      font-size: 2.9rem;
      font-weight: 700;
      line-height: 1.175;
    }
  }
  .batik-cicrle-cwK {
    width: 12.7rem;
    height: 11.9rem;
    position: absolute;
    left: 69.3rem;
    top: 92.3rem;

    .mask-group-knd {
      width: 100%;
      height: 100%;
    }
  }
  .circle-hero-JJM {
    position: absolute;
    left: 69rem;
    top: 92.3rem;
    object-fit: contain;
    vertical-align: top;
    width: 12.7rem;
    height: 12.7rem;
  }
}
