
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.hero-6ch {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-puah-QtH {
    margin-bottom: 0.3rem;
    width: 100%;
    height: 992.2rem;
    position: relative;
    flex-shrink: 0;

    .heroo-KkM {
      overflow: hidden;
      background-color: #742d2d;
      border-radius: 0.6rem;
      width: 151.2rem;
      height: 98.2rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .wallpapper-eGq {
      width: 151.4rem;
      height: 861.3rem;
      position: absolute;
      left: 0;
      top: 98.2rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .whatsapp-image-2023-11-06-at-2123-1-xoK {
        width: 151.2rem;
        height: 208.825rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .auto-group-uinm-5N9 {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        height: 652.475rem;

        .whatsapp-image-2023-11-06-at-2123-3-pKj {
          top: 430.5812rem;
          object-fit: cover;
          vertical-align: top;
          width: 151.2rem;
          height: 221.8938rem;
          position: absolute;
          left: 0;
        }
        .whatsapp-image-2023-11-06-at-2123-1-LYy {
          left: 0;
          top: 208.5499rem;
          object-fit: cover;
          vertical-align: top;
          width: 151.2rem;
          height: 221.8938rem;
          position: absolute;
        }
        .whatsapp-image-2023-11-06-at-2123-2-rXK {
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          width: 151.2rem;
          height: 208.825rem;
          position: absolute;
        }
        .interior-nfs {
          width: 135.9rem;
          height: 64.5rem;
          position: absolute;
          left: 10rem;
          top: 562.975rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;

          .penggunaan-batik-sebagai-pelengkap-interior-JeD {
            font-size: 5.5rem;
            font-weight: 400;
            line-height: 1.3325;
            color: #2c3333;
            font-family: Playfair Display, 'Source Sans Pro';
            flex-shrink: 0;
            margin-bottom: 0.3rem;
            max-width: 65.7rem;
          }
          .auto-group-vcbj-CDo {
            flex-shrink: 0;
            margin-right: 5.7rem;
            width: calc(100% - 5.7rem);
            display: flex;
            align-items: flex-start;

            .swipper-L57 {
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 7.5rem 14.8rem 0rem;
              display: flex;
              column-gap: 3.5rem;

              .ellipse-8-qnZ {
                width: 14.2rem;
                height: 19.5rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .ellipse-7-Apq {
                width: 27.3rem;
                height: 34.7rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .ellipse-9-iLZ {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 14.2rem;
                height: 19.5rem;
              }
            }
            .penggunaan-batik-sebagai-pelengkap-interior-adalah-penggunaan-motif-dan-produk-batik-dalam-desain-dan-dekorasi-interior-rumah-atau-ruang-komersial-termasuk-penggunaan-kain-batik-pada-furnitur-hiasan-dinding-gorden-dan-aksesori-lainnya-untuk-menciptakan-atmosfer-artistik-dan-budaya-G7B {
              font-weight: 400;
              line-height: 1.71875;
              color: #2c3333;
              font-family: Plus Jakarta Sans, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 60rem;
              font-size: 3.2rem;
            }
          }
        }
        .fashion-s6y {
          position: absolute;
          left: 13.5rem;
          top: 455.275rem;
          width: 128.1rem;
          height: 76.8rem;

          .penggunaan-batik-sebagai-fashion-bYm {
            font-size: 5.5rem;
            font-weight: 400;
            line-height: 1.3325;
            color: #2c3333;
            font-family: Playfair Display, 'Source Sans Pro';
            margin-bottom: 1.6rem;
            max-width: 44.4rem;
          }
          .auto-group-qrkp-KDs {
            display: flex;
            align-items: center;
            width: 100%;
            height: 60.5rem;

            .penggunaan-batik-sebagai-fashion-adalah-penggunaan-motif-dan-teknik-batik-dalam-desain-dan-produksi-pakaian-serta-aksesori-mode-untuk-menciptakan-gaya-pribadi-dan-tren-fashion-penggunaan-batik-sebagai-fashion-menggabungkan-unsur-seni-kreativitas-dan-gaya-pribadi-dengan-nilai-nilai-budaya-yang-terkandung-dalam-batik-menciptakan-produk-mode-yang-unik-dan-beragam-fYd {
              font-family: Plus Jakarta Sans, 'Source Sans Pro';
              flex-shrink: 0;
              margin-right: 10.4rem;
              max-width: 55rem;
              font-size: 3.2rem;
              font-weight: 400;
              line-height: 1.71875;
              color: #2c3333;
            }
            .swipper-evM {
              flex-shrink: 0;
              margin: 8.7rem 0rem 17.1rem 0rem;
              height: calc(100% - 25.8rem);
              display: flex;
              column-gap: 3.5rem;
              align-items: center;

              .ellipse-8-aJD {
                height: 19.5rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 14.2rem;
              }
              .ellipse-7-vN5 {
                width: 27.3rem;
                height: 34.7rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .ellipse-9-fqT {
                flex-shrink: 0;
                width: 14.2rem;
                height: 19.5rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
        }
        .artefak-pCZ {
          position: absolute;
          left: 10.4rem;
          top: 381.975rem;
          display: flex;
          align-items: center;
          width: 128.2rem;
          height: 53.6rem;

          .swipper-Xsf {
            display: flex;
            column-gap: 3.5rem;
            align-items: center;
            flex-shrink: 0;
            margin: 7.3rem 13.1rem 11.6rem 0rem;
            height: calc(100% - 18.9rem);

            .ellipse-8-3LD {
              width: 14.2rem;
              height: 19.5rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .ellipse-7-PQ5 {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 27.3rem;
              height: 34.7rem;
            }
            .ellipse-9-98M {
              flex-shrink: 0;
              width: 14.2rem;
              height: 19.5rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .auto-group-rtg5-VT7 {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .penggunaan-batik-sebagai-artefak-3Ud {
              max-width: 44.4rem;
              font-size: 5.5rem;
              font-weight: 400;
              line-height: 1.3325;
              color: #2c3333;
              font-family: Playfair Display, 'Source Sans Pro';
              flex-shrink: 0;
              margin-bottom: 0.4rem;
            }
            .penggunaan-batik-sebagai-artefak-berarti-melihat-batik-sebagai-objek-fisik-atau-barang-yang-memiliki-nilai-budaya-seni-atau-sejarah-yang-dapat-dipelajari-atau-dipamerkan-dan-mewakili-identitas-budaya-indonesia-xrV {
              font-family: Plus Jakarta Sans, 'Source Sans Pro';
              flex-shrink: 0;
              margin-left: 0.3rem;
              max-width: 52.1rem;
              font-size: 3.2rem;
              font-weight: 400;
              line-height: 1.71875;
              color: #2c3333;
            }
          }
        }
        .penggunaan-batik-1Zs {
          text-align: center;
          font-size: 10rem;
          line-height: 1.3325;
          font-style: italic;
          width: 81.7rem;
          top: 358.075rem;
          left: 34.75rem;
          font-weight: 500;
          color: #2c3333;
          font-family: Playfair Display, 'Source Sans Pro';
          white-space: nowrap;
          height: 13.4rem;
          position: absolute;
        }
        .ragam-iUH {
          left: 9rem;
          top: 241.775rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 133.3rem;
          height: 93.3rem;
          position: absolute;

          .ragam-motif-batik-ecq {
            text-align: center;
            line-height: 1.3325;
            flex-shrink: 0;
            font-family: Playfair Display, 'Source Sans Pro';
            white-space: nowrap;
            margin: 0rem 0.1rem 9.9rem 0rem;
            font-size: 10rem;
            font-weight: 500;
            font-style: italic;
            color: #2c3333;
          }
          .auto-group-6pkq-Mn9 {
            width: 100%;
            display: flex;
            column-gap: 6rem;
            align-items: center;
            flex-shrink: 0;

            .rectangle-6-uof {
              width: 45rem;
              height: 42.1rem;
              background-color: #d9d9d9;
              flex-shrink: 0;
            }
            .rectangle-7-GPK {
              height: 42.1rem;
              background-color: #d9d9d9;
              flex-shrink: 0;
              width: 45rem;
            }
            .rectangle-8-p9w {
              height: 42.1rem;
              background-color: #d9d9d9;
              flex-shrink: 0;
              width: 31.3rem;
            }
          }
          .auto-group-hhh3-m5B {
            box-sizing: border-box;
            padding: 2.9rem 0rem 0rem 8.9rem;
            width: 100%;
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-vyrw-UkH {
              margin: 0rem 5.7rem 6.9rem 0rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .motif-batik-asal-cbb {
                margin-right: 34.9rem;
                max-width: 19.8rem;
                font-size: 4rem;
                line-height: 1.25;
                color: #2c3333;
                flex-shrink: 0;
                text-align: center;
                font-weight: 400;
                font-family: Playfair Display, 'Source Sans Pro';
              }
              .motif-batik-asal-XCm {
                font-family: Playfair Display, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 19.8rem;
                text-align: center;
                font-size: 4rem;
                line-height: 1.25;
                margin-right: 24.4rem;
                font-weight: 400;
                color: #2c3333;
              }
              .motif-batik-asal-dmb {
                max-width: 19.8rem;
                text-align: center;
                font-size: 4rem;
                font-weight: 400;
                line-height: 1.25;
                color: #2c3333;
                font-family: Playfair Display, 'Source Sans Pro';
                flex-shrink: 0;
              }
            }
            .auto-group-jgcq-AmX {
              margin-left: 103.3rem;
              width: calc(100% - 103.3rem);
              height: 8.1rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .auto-group-kbv1-uUD {
                white-space: nowrap;
                justify-content: center;
                background-position: center;
                margin-right: 4.5rem;
                display: flex;
                background-image: url('REPLACE_IMAGE:144:133');
                width: 8.3rem;
                text-align: center;
                font-weight: 400;
                line-height: 1.25;
                color: #000000;
                font-family: Playfair Display, 'Source Sans Pro';
                height: 100%;
                align-items: center;
                background-size: cover;
                background-repeat: no-repeat;
                flex-shrink: 0;
                font-size: 4rem;
              }
              .auto-group-sxkz-PPP {
                justify-content: center;
                background-position: center;
                text-align: center;
                font-size: 4rem;
                background-image: url('REPLACE_IMAGE:144:134');
                color: #000000;
                font-family: Playfair Display, 'Source Sans Pro';
                display: flex;
                align-items: center;
                background-repeat: no-repeat;
                width: 8.3rem;
                font-weight: 400;
                line-height: 1.25;
                flex-shrink: 0;
                height: 100%;
                white-space: nowrap;
                background-size: cover;
              }
            }
          }
        }
      }
    }
    .vector-2-4VX {
      object-fit: contain;
      vertical-align: top;
      width: 151.4rem;
      height: 182.3rem;
      position: absolute;
      left: 0;
      top: 240rem;
    }
    .ini-apa-ze5 {
      position: absolute;
      left: 72.7538rem;
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 117.2923rem;
      height: 108.7rem;
    }
    .ini-apa-jbf {
      width: 89.3987rem;
      height: 88.4484rem;
      position: absolute;
      left: 106.5rem;
      top: 171.6rem;
      object-fit: contain;
      vertical-align: top;
    }
    .ini-apa-g17 {
      left: 0;
      top: 473.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 89.4834rem;
      height: 88.5342rem;
      position: absolute;
    }
    .teknik-zXb {
      position: absolute;
      left: 9rem;
      border-radius: 4.4rem;
      width: 133.3rem;
      height: 98.5rem;
      top: 430rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .teknik-pembuatan-batik-iyP {
        font-style: italic;
        color: #2c3333;
        font-family: Playfair Display, 'Source Sans Pro';
        flex-shrink: 0;
        text-align: center;
        font-size: 10rem;
        line-height: 1.3325;
        margin: 0rem 0.1rem 6.6rem 0rem;
        font-weight: 500;
        white-space: nowrap;
      }
      .auto-group-xgad-EB3 {
        flex-shrink: 0;
        width: 100%;
        height: 78.5rem;
        display: flex;
        align-items: center;

        .auto-group-vrcd-yeR {
          box-sizing: border-box;
          padding: 5rem 3.8rem 5rem 3.7rem;
          width: 64.7rem;
          height: 100%;
          background-color: #e7b385;
          border-radius: 4.4rem;
          flex-shrink: 0;
          margin-right: 3.9rem;

          .card-teknik-hKX {
            width: 100%;
            height: 57.8rem;
            background-color: #141111;
            border-radius: 4.4rem;
          }
        }
        .auto-group-vyjx-cxH {
          box-sizing: border-box;
          padding: 5rem 3.8rem 5rem 3.7rem;
          width: 64.7rem;
          height: 100%;
          background-color: #e7b385;
          border-radius: 4.4rem;
          flex-shrink: 0;

          .card-teknik-Mey {
            width: 100%;
            height: 57.8rem;
            background-color: #141111;
            border-radius: 4.4rem;
          }
        }
      }
    }
    .filosofis-rrd {
      width: 135.4rem;
      height: 59.1rem;
      position: absolute;
      left: 7.8rem;
      top: 343.1rem;
      display: flex;
      align-items: flex-start;

      .auto-group-2e9f-zhw {
        margin: 1.9rem 6.5rem 0rem 0rem;
        width: 89.6rem;
        height: 57.2rem;
        position: relative;
        flex-shrink: 0;

        .filosofis-batik-indonesia-mencakup-gagasan-gagasan-tentang-harmoni-dengan-alam-pesan-moral-keseimbangan-penghargaan-terhadap-warisan-budaya-dan-kreativitas-batik-mencerminkan-kebijaksanaan-kesederhanaan-dan-nilai-nilai-budaya-yang-diwariskan-dari-generasi-ke-generasi-menjadikannya-sarana-penting-untuk-menyampaikan-pesan-filosofis-dan-nilai-nilai-budaya-masyarakat-indonesia-j9j {
          position: absolute;
          left: 1.6rem;
          top: 13.2rem;
          line-height: 1.71875;
          color: #2c3333;
          width: 88rem;
          height: 44rem;
          font-size: 3.2rem;
          font-weight: 400;
          font-family: Plus Jakarta Sans, 'Source Sans Pro';
        }
        .filosofis-batik-V2R {
          left: 0;
          font-size: 10rem;
          line-height: 1.3325;
          color: #2c3333;
          font-family: Playfair Display, 'Source Sans Pro';
          white-space: nowrap;
          width: 64.2rem;
          height: 13.4rem;
          position: absolute;
          top: 0;
          text-align: right;
          font-weight: 500;
          font-style: italic;
        }
      }
      .rectangle-4-PNh {
        width: 39.3rem;
        height: 56.9rem;
        background-color: #e9b384;
        border-radius: 19.65rem 0 19.65rem 0;
        flex-shrink: 0;
      }
    }
    .makna-urq {
      height: 56.9rem;
      position: absolute;
      left: 9.4rem;
      top: 268.1rem;
      display: flex;
      align-items: flex-start;
      width: 128.7rem;

      .rectangle-4-T7f {
        height: 56.9rem;
        background-color: #e9b384;
        border-radius: 19.65rem 0 19.65rem 0;
        flex-shrink: 0;
        margin-right: 6.5rem;
        width: 39.3rem;
      }
      .auto-group-zwjy-BZT {
        height: 51.8rem;
        position: relative;
        flex-shrink: 0;
        width: 82.9rem;

        .batik-indonesia-adalah-simbol-kompleks-yang-mencerminkan-identitas-budaya-sejarah-dan-filosofi-masyarakat-ini-menggambarkan-nilai-nilai-budaya-simbolisme-keagamaan-dan-pesan-moral-memainkan-peran-penting-dalam-mempertahankan-warisan-budaya-indonesia-sambil-terus-berkembang-dengan-kreativitas-dan-berfungsi-sebagai-simbol-identitas-nasional-LBT {
          line-height: 1.71875;
          color: #2c3333;
          height: 38.5rem;
          left: 0;
          font-size: 3.2rem;
          font-weight: 400;
          font-family: Plus Jakarta Sans, 'Source Sans Pro';
          width: 82.9rem;
          position: absolute;
          top: 13.3rem;
        }
        .makna-batik-K3P {
          left: 0;
          top: 0;
          font-size: 10rem;
          font-weight: 500;
          line-height: 1.3325;
          font-family: Playfair Display, 'Source Sans Pro';
          white-space: nowrap;
          width: 56.7rem;
          height: 13.4rem;
          position: absolute;
          font-style: italic;
          color: #2c3333;
        }
      }
    }
    .sejarah-2Tb {
      display: flex;
      align-items: center;
      width: 131.9rem;
      height: 56.9rem;
      position: absolute;
      left: 11.3rem;
      top: 185rem;

      .auto-group-zory-AJu {
        margin: 6rem 4.2rem 8.4rem 0rem;
        width: 88.4rem;
        height: calc(100% - 14.4rem);
        flex-shrink: 0;

        .auto-group-ym7o-VMB {
          margin-bottom: 2.3rem;
          width: 100%;
          height: 35.3rem;
          position: relative;

          .sejarah-batik-indonesia-yang-kaya-dan-berakar-dalam-budaya-indonesia-dimulai-pada-zaman-hindu-buddha-abad-ke-4-hingga-abad-ke-15-m-dan-berkembang-selama-zaman-majapahit-hingga-zaman-islam-qfw {
            top: 13.3rem;
            line-height: 1.71875;
            font-family: Plus Jakarta Sans, 'Source Sans Pro';
            width: 88.3rem;
            height: 22rem;
            position: absolute;
            left: 0.1rem;
            font-size: 3.2rem;
            font-weight: 400;
            color: #2c3333;
          }
          .sejarah-batik-qJZ {
            left: 0;
            font-weight: 500;
            color: #2c3333;
            white-space: nowrap;
            position: absolute;
            height: 13.4rem;
            top: 0;
            text-align: center;
            font-size: 10rem;
            line-height: 1.3325;
            font-style: italic;
            font-family: Playfair Display, 'Source Sans Pro';
            width: 60rem;
          }
        }
        .auto-group-b6r5-7ms {
          margin: 0rem 67.4rem 0rem 0.1rem;
          width: calc(100% - 67.5rem);
          display: flex;
          align-items: center;

          .read-more-D4D {
            line-height: 1.515625;
            color: #429c88;
            font-family: Raleway, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.2rem;
            font-size: 3.2rem;
            font-weight: 700;
          }
          .auto-group-xf8v-7QV {
            margin-bottom: 0.1rem;
            width: 3.2rem;
            height: 3.2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .rectangle-4-RAH {
        flex-shrink: 0;
        width: 39.3rem;
        height: 56.9rem;
        background-color: #e9b384;
        border-radius: 16.25rem 0 16.25rem 0;
      }
    }
    .rectangle-4-weR {
      height: 53.4rem;
      position: absolute;
      left: 15rem;
      top: 16.6rem;
      background-color: #d9d9d9;
      border-radius: 15rem;
      width: 29.2rem;
    }
    .rectangle-5-Gwb {
      width: 29.2rem;
      height: 53.4rem;
      position: absolute;
      left: 107rem;
      top: 39.4rem;
      background-color: #e9b384;
      border-radius: 15rem;
    }
    .empower-indonesia-culture-everywhere-NdF {
      font-size: 12.8rem;
      line-height: 1.125;
      color: #2c3333;
      font-weight: 400;
      font-family: Playfair Display, 'Source Sans Pro';
      width: 115.5rem;
      height: 28.8rem;
      position: absolute;
      left: 17.85rem;
      top: 25rem;
      text-align: center;

      .empower-indonesia-culture-everywhere-NdF-sub-0 {
        font-size: 12.8rem;
        font-weight: 400;
        line-height: 1.125;
        color: #2c3333;
        font-family: Imprima, 'Source Sans Pro';
      }
      .empower-indonesia-culture-everywhere-NdF-sub-1 {
        font-family: Playfair Display, 'Source Sans Pro';
        font-size: 12.8rem;
        font-weight: 500;
        line-height: 1.125;
        color: #2c3333;
      }
      .empower-indonesia-culture-everywhere-NdF-sub-2 {
        color: #2c3333;
        font-family: Playfair Display, 'Source Sans Pro';
        font-size: 12.8rem;
        font-weight: 500;
        line-height: 1.125;
        font-style: italic;
      }
      .empower-indonesia-culture-everywhere-NdF-sub-3 {
      }
    }
    .text-hero-A5F {
      font-weight: 400;
      line-height: 1.5;
      color: #2c3333;
      text-align: center;
      height: 13.1rem;
      position: absolute;
      left: 34.55rem;
      top: 58.8rem;
      font-size: 2.9rem;
      font-family: Poppins, 'Source Sans Pro';
      width: 82.1rem;
    }
    .button-hero-fXo {
      position: absolute;
      left: 58rem;
      top: 77.6rem;
      background-color: #f9b572;
      border-radius: 4.8rem;
      width: 35.3rem;
      height: 7.4rem;
    }
    .start-the-journey-bgM {
      top: 79.8rem;
      text-align: center;
      line-height: 1.175;
      font-family: Raleway, 'Source Sans Pro';
      white-space: nowrap;
      width: 29.1rem;
      position: absolute;
      left: 61.05rem;
      color: #000000;
      height: 3.1rem;
      font-size: 2.6rem;
      font-weight: 700;
    }
    .navbar-Jam {
      width: 92rem;
      top: 7.3rem;
      align-items: center;
      background-color: #f9b572;
      box-sizing: border-box;
      padding: 2.2rem 6.75rem 1.6rem 7.9rem;
      height: 6.7rem;
      position: absolute;
      left: 29.6rem;
      display: flex;
      border-radius: 4.8rem;

      .teknik-pembuatan-nkq {
        text-align: center;
        font-weight: 700;
        line-height: 1.175;
        color: #ffffff;
        flex-shrink: 0;
        margin-right: 10.2rem;
        font-size: 2.4rem;
        font-family: Raleway, 'Source Sans Pro';
        white-space: nowrap;
      }
      .ragam-motif-i8h {
        margin-right: 10.25rem;
        line-height: 1.175;
        color: #ffffff;
        font-family: Raleway, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 2.4rem;
        font-weight: 700;
      }
      .penggunaan-batik-qj7 {
        text-align: center;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.175;
        color: #ffffff;
        font-family: Raleway, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .logo-Lvm {
      height: 8rem;
      position: absolute;
      left: 0;
      top: 7rem;
      border-radius: 4.8rem;
      width: 27.1rem;

      .logo-thP {
        height: 8rem;
        position: absolute;
        left: 4.5rem;
        top: 0;
        background-color: #d0e4f0;
        border-radius: 4.8rem;
        width: 9.4rem;
      }
      .logo-RBX {
        left: 6.2rem;
        text-align: center;
        font-size: 2.9rem;
        font-weight: 700;
        white-space: nowrap;
        color: #2c3333;
        font-family: Raleway, 'Source Sans Pro';
        width: 6.3rem;
        height: 3.5rem;
        position: absolute;
        top: 2.1rem;
        line-height: 1.175;
      }
    }
    .batik-cicrle-ve5 {
      height: 11.9rem;
      position: absolute;
      left: 69.3rem;
      top: 92.3rem;
      width: 12.7rem;

      .mask-group-s3X {
        width: 100%;
        height: 100%;
      }
    }
    .circle-hero-Rqj {
      object-fit: contain;
      vertical-align: top;
      width: 12.7rem;
      height: 12.7rem;
      position: absolute;
      left: 69rem;
      top: 92.3rem;
    }
    .definisi-kt1 {
      top: 113.1rem;
      width: 98.5rem;
      height: 59.5rem;
      position: absolute;
      left: 26.35rem;

      .seni-tekstil-tradisional-indonesia-yang-khas-di-mana-kain-biasanya-katun-atau-sutra-dihias-dengan-pola-pola-dan-gambar-gambar-yang-dihasilkan-dengan-mengaplikasikan-malam-lilin-pada-kain-sehingga-menghalangi-pewarnaan-pada-area-yang-diinginkan-ini-adalah-seni-yang-sangat-terkenal-dan-diakui-secara-internasional-dan-merupakan-bagian-penting-dari-budaya-indonesia-6gy {
        font-family: Plus Jakarta Sans, 'Source Sans Pro';
        position: absolute;
        top: 21rem;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 400;
        letter-spacing: 0.032rem;
        width: 98.5rem;
        height: 38.5rem;
        left: 0;
        line-height: 1.71875;
        color: #2c3333;
      }
      .batik-Tfw {
        height: 21.4rem;
        text-align: center;
        line-height: 1.3325;
        position: absolute;
        align-items: baseline;
        width: 26.1rem;
        left: 36.5rem;
        top: 0;
        font-size: 9.5rem;
        display: flex;
        font-weight: 400;
        color: #2c3333;
        font-family: Playfair Display, 'Source Sans Pro';
        white-space: nowrap;

        .batik-Tfw-sub-0 {
          font-size: 16rem;
          font-weight: 400;
          line-height: 1.3325;
          color: #2c3333;
          font-family: Playfair Display, 'Source Sans Pro';
        }
        .batik-Tfw-sub-1 {
        }
      }
    }
  }
  .rectangle-9-FLu {
    margin-right: 0.2rem;
    width: 151rem;
    height: 37rem;
    background-color: #9cc2b5;
    flex-shrink: 0;
  }
}
